{# reminder_send.twig #}

{# ベースとなるテンプレートを継承する #}
{% extends "layout.twig" %}

{# 本体 #}
{% block body %}
<h1>パスワードリマインダ送信済</h1>

パスワードリマインダのmailを送りました。<br>
２時間経ってもメールが届いていない場合、メアド入力に誤りがある事があるので、
再度、パスワードリマインダを送信してください。<br>
<br>
<a href="./index.php">Topに戻る</a>
{% endblock %}

